<div class="content">
  <div fxLayout="row" fxLayoutAlign="space-between baseline">
    <h1>Lefoglalt nyári táborok</h1>
  </div>
  <div fxLayout="column" id="table-container" fxLayoutAlign="center" *ngIf="foglalasok && foglalasok.length > 0">
      <table mat-table [dataSource]="foglalasok" class="mat-elevation-z8" >
        <ng-container matColumnDef="veznev">
          <th appTableHeaderColor mat-header-cell *matHeaderCellDef> Vezetéknév </th>
          <td mat-cell *matCellDef="let element"> {{element.nev.veznev}} </td>
        </ng-container>
      
        <ng-container matColumnDef="kernev">
          <th appTableHeaderColor mat-header-cell *matHeaderCellDef> Keresztnév </th>
          <td mat-cell *matCellDef="let element"> {{element.nev.kernev}} </td>
        </ng-container>
      
        <ng-container matColumnDef="szulido">
          <th appTableHeaderColor mat-header-cell *matHeaderCellDef mat-sort-header> Életkor </th>
          <td mat-cell *matCellDef="let element"> {{element.szulido | dateFormat}} </td>
        </ng-container>
      
        <ng-container matColumnDef="szigsz">
          <th appTableHeaderColor mat-header-cell *matHeaderCellDef> Személyigazolvány szám </th>
          <td mat-cell *matCellDef="let element"> {{element.szigsz}} </td>
        </ng-container>

        <ng-container matColumnDef="nem">
          <th appTableHeaderColor mat-header-cell *matHeaderCellDef> Neme </th>
          <td mat-cell *matCellDef="let element"> {{element.nem}} </td>
        </ng-container>
        
        <ng-container matColumnDef="muvelet">
          <th appTableHeaderColor mat-header-cell *matHeaderCellDef=>Műveletek</th>
          <td mat-cell *matCellDef="let element"><mat-icon appChangeColorOnHover routerLink="/editReservation/{{element.id}}">edit</mat-icon><mat-icon appChangeColorOnHover (click)="onDelete(element)">delete</mat-icon></td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  <div *ngIf="foglalasok && foglalasok.length == 0">
    <strong>Nincsenek foglalások</strong>
  </div>
</div>
